<div id="page">
  <div id="sidebar">
  </div>

  <div id="content">
    <div id="header">
      <img style="float:left;" src="/images/icon.png">
      <h1><%= $config['site_name'] %></h1>
      <h2>In the Eye of the Beholder</h2>
    </div>

    <div id="getting-started">
      <h1>Thank you for logging in.</h1>
      <h2>You may now return to the game!</h2>
    </div>
  </div>

  <div id="footer">&nbsp;</div>
</div>